* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagination {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-77%, 50%); 
    text-align: center;
    width: 850px;
    height: 45px;
    margin: 10px;
}

.pagination button {
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    background-color: lemonchiffon;
    border-right: 1px solid wheat ;
    border-left: 1px solid wheat ;
    border-top: none ;
    border-bottom: none;
    height: 35px;
    width: 35px;
    color: maroon;
    font-family: 'Manrope', sans-serif;
    font-size: 13;
}